body {
  font-family: "Raleway", sans-serif;
  font-size: larger;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.name-highlight {
  color: orange;
}
p {
  color: dimgray;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
}
.top-banner {
  background-image: url("./images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.hire-link {
  text-decoration: none;
  background-image: linear-gradient(60deg, lightsalmon, orange);
  border-radius: 5px;
  padding: 10px 20px;
  color: azure;
  font-weight: 700;
}
.mid-half-width {
  width: 40%;
  float: right;
  margin-right: 5%;
  padding-right: 2%;
}
.mid-half-width img {
  width: 100%;
}
.mid-banner {
  background-image: url("./images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.project-link {
  text-decoration: none;
  background-image: linear-gradient(60deg, lightsalmon, orange);
  border-radius: 5px;
  padding: 10px 20px;
  color: azure;
  font-weight: 700;
}
.red-highlighter1 {
  color: lightcoral;
}
.red-highlighter2 {
  color: rgba(137, 43, 226, 0.774);
}
.experience-tab {
  box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.418);
  border-radius: 10px;
  height: 80%;
  background-color: whitesmoke;
}
.bottom-banner {
  background-image: url("./images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
#photography {
  border-left: 10px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
#development {
  border-left: 10px solid;
  border-image: linear-gradient(180deg, violet, blueviolet);
  border-image-slice: 1;
}
footer p {
  text-align: center;
  font-size: 12px;
}
.slide-right {
  -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.fade {
  opacity: 0.8;
}
.fade:hover {
  opacity: 1;
}

.rotate:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.shrink:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
